@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	font: 16px/28px "Roboto", sans-serif;
	background-color: white;
	color: #333;
	scroll-behavior: smooth;

}

h1, h4 {
	text-align: center;
}


h5 {
	font-weight: lighter;
}

.triangle-area-navigation {
	background-color: cornflowerblue;
	margin: 2rem;

}

.triangle-area-navigation li a {
	color: white;
}

.perimeter-of-triangle {
	background-color: ghostwhite;
	margin: 2rem;
}

.perimeter-of-triangle li a {
	color: cornflowerblue;
}



.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 3rem;
}


.title-of-calculator {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.navigation {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	gap: 2rem;
	

}


.navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.navigation ul li {
	margin: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: auto;
	padding-right: auto;
	font-weight: bold;
	border-radius: 3px;



}


.navigation ul li a {
	text-decoration: none;

}


.cover {
	width: 100%;
	margin-top: 2rem;

}



.title {
	background-color: cornflowerblue;
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: white;
}

.content {
	margin-top: 3rem;
	margin-bottom: 3rem;
	width: 100%;

	
}

.image {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4rem auto;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 2rem 2rem;
	padding: 1rem 1rem;
	border-bottom: 1px solid black;
}


.calculasion form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 2rem;	

	
}

.calculasion input, select {
	width: 100%;
	padding: 0.75rem 1.3rem;
	font-family: "Roboto", sans-serif;
	background: #fbfbfb;
	border: 1px solid #f1f1f1;
	border-radius: 3px;
	resize: none;
}



.calculasion button {

	width: 100px;
	margin-top: 1rem;
	padding: 0.75rem 1.3rem;
	font-family: "Roboto", sans-serif;
	background-color: cornflowerblue;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.calculasion button:hover {
	background-color: #232e35;
	transition: .5s ease-in-out;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.reset {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	text-align: center;
	margin-right: 2rem;
}

.reset #resetButton {
	width: 70px;
	margin: 2rem;
	padding: 0.75rem 1.3rem;
	font-family: "Roboto", sans-serif;
	background-color: goldenrod;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.reset #buttonReset {
	width: 70px;
	margin: 2rem;
	padding: 0.75rem 1.3rem;
	font-family: "Roboto", sans-serif;
	background-color: goldenrod;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}


.error {
	color: red;
	font-size: 14px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}




footer {
	height: 50px;
	background-color: ghostwhite;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.error {
	display: inline-block;
}